@{
   Layout = "~/Views/Shared/_Layout_IndexTest.cshtml";
    ViewBag.Title = "Acerca de nosotros";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Contáctanos</h2>
                <p>
                    Gracias por elegir nuestra ferretería para tus necesidades. Si tienes alguna pregunta o deseas más información sobre nuestros productos o servicios, no dudes en contactarnos. Puedes comunicarte con nosotros por teléfono, correo electrónico o visitando nuestra tienda en persona.
                </p>
                <br />

                <form>
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje:</label>
                        <textarea class="form-control" rows="5" id="message" placeholder="Escribe aquí tu mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

                <br />
                <p>Teléfono: +506 22516987 </p>
                <p>Correo electrónico: info@miferreteria.com</p>
                <p>Dirección: Barrio Pinto, San José, Costa Rica</p>
            </div>
        </div>
    </div>


</div>