@{
    Layout = "~/Views/Shared/_Layout_IndexTest.cshtml";
    ViewBag.Title = "Acerca de nosotros";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Acerca de nosotros</h2>
                <p>
                    ¡Bienvenidos a nuestra ferretería en Costa Rica! Somos un negocio familiar que ha estado sirviendo a la comunidad por más de 30 años. Estamos orgullosos de ser una de las principales ferreterías de la zona y hemos construido nuestra reputación en base a ofrecer productos de alta calidad, excelente servicio al cliente y precios competitivos.
                </p>
                <img src="~/Imagenes/ferreteria-nosotros.jpg" alt="Imagen de nuestra ferretería" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Nuestra historia</h2>
                <p>
                    Nuestra ferretería fue fundada por Juan y María López en 1991. Comenzaron el negocio en un pequeño local con solo unos pocos empleados, pero a través del trabajo duro y la dedicación, lograron hacer crecer el negocio con los años. Hoy en día, contamos con una amplia sala de exhibición con una amplia gama de productos, desde herramientas eléctricas hasta suministros de fontanería.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Nuestros productos</h2>
                <p>Nos enorgullecemos de ofrecer una amplia gama de productos para satisfacer las necesidades de nuestros clientes. Ya sea que seas un propietario buscando hacer algunos proyectos de bricolaje o un contratista trabajando en un proyecto de construcción a gran escala, tenemos las herramientas y suministros que necesitas. Algunos de nuestros productos más populares incluyen:</p>

                <ul>
                    <li>Herramientas eléctricas</li>
                    <li>Herramientas manuales</li>
                    <li>Hardware y sujetadores</li>
                    <li>Pintura y suministros de pintura</li>
                    <li>Suministros de fontanería</li>
                    <li>Suministros eléctricos</li>
                    <li>Suministros de jardinería y césped</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>Nuestro equipo</h2>
                <p>Tenemos un equipo de expertos conocedores y amigables que siempre están listos para ayudarte con tus necesidades. Ya sea que necesites ayuda para encontrar la herramienta adecuada para el trabajo o consejos sobre cómo completar un proyecto, estamos aquí para ayudarte. Estamos comprometidos a brindar un excelente servicio al cliente y asegurarnos de que nuestros clientes tengan una experiencia positiva cada vez que visitan nuestra tienda.</p>
            </div>
        </div>
    </div>


</div>